@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for nav bar */
/* font-family: "Poppins", sans-serif; */

/* for heading  */
/* font-family: "Playfair Display", serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  /* line-height: 26px; */
  text-transform: uppercase;
  box-shadow: 0 8px 10px -8px gray;
  --webkit-box-shadow: 0 8px 10px -8px gray;
  /* border-bottom: solid gray !important; */
}

.nav-link {
  font-weight: 400 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 500;
  font-family: "roboto", sans-serif;
  letter-spacing: 2px;
}
/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 25px;
  background: #2b2b2b; /* fallback for old browsers */
  
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #afada8;
  border-bottom: 1px solid #afada8;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================= */
/* =========REGISTER PAGE ========= */
/* .register {

  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}